<svg data-toggle="tooltip" title="Attention Deficit" width="9px" height="14px" viewBox="0 0 9 14">
  <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" stroke-linecap="round" stroke-linejoin="round">
    <g class="{{impact}}-stroke-icon" transform="translate(-76.000000, -104.000000)">
      <use xlink:href="#attention-deficit-svg"></use>
    </g>
  </g>
</svg>
