<svg data-toggle="tooltip" title="Blind" width="14px" height="12px" viewBox="0 0 14 12">
  <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
    <g class="{{impact}}-stroke-icon" transform="translate(-17.000000, -87.000000)">
      <use xlink:href="#blind-svg"></use>
    </g>
  </g>
</svg>
