<svg data-toggle="tooltip" title="Cognitive" width="16px" height="14px" viewBox="0 0 16 14">
  <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
    <g class="{{impact}}-fill-icon" transform="translate(-37.000000, -104.000000)" fill-rule="nonzero">
      <use xlink:href="#cognitive-svg"></use>
    </g>
  </g>
</svg>
