<svg data-toggle="tooltip" title="Colorblindness" width="15px" height="14px" viewBox="0 0 413.8 413.8">
	<g class="{{impact}}-fill-icon">
      <use xlink:href="#colorblindness-svg"></use>
	</g>
</svg>
