<svg data-toggle="tooltip" title="Deaf" width="13px" height="14px" viewBox="0 0 13 14">
    <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" stroke-linecap="square">
        <g class="{{impact}}-stroke-icon" transform="translate(-74.000000, -86.000000)">
          <use xlink:href="#deaf-svg"></use>
        </g>
    </g>
</svg>
