<svg data-toggle="tooltip" title="Dyslexia" width="12px" height="15px" viewBox="0 0 12 15">
  <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" font-family="GillSans-Italic, Gill Sans" font-size="14" font-style="italic" font-weight="normal">
    <g class="{{impact}}-fill-icon" transform="translate(-56.000000, -103.000000)">
      <use xlink:href="#dyslexia-svg"></use>
    </g>
  </g>
</svg>
